:root {
    --main-color: rgb(139, 0, 0);
    --color-one: #E0E0E0;
    --color-two: #2D2D2D;
    --text-one: #333333;
    --text-two: #e0e0e0;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "PT Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald", sans-serif;
}

section {
    color: #fff;
}

.container {
    width: 80%;
    margin: auto;
}

button {
    border: 1px solid var(--main-color);
    padding: 10px 10px;
    background-color: #111111;
    color: #fff;
    animation: Animate-1 2s infinite;
}

button:hover {
    background-color: var(--main-color);
}

.title {
    position: relative;
    text-align: center;
    padding: 10px 0px 30px 0px;
}

.title .back {
    position: absolute;
    color: rgba(77, 3, 3, 0.3);
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-weight: 600;

}

.title .t {
    position: relative;
    color: var(--main-color);
    z-index: 2;
    font-size: 45px;
    font-weight: 600;

}

#footer .container h5 {
    color: var(--main-color);
    font-size: 25px;
    margin-bottom: 15px;
}