@media (max-width: 1300px) {
    #home nav {
        padding: 10px 10px;
    }

    #home nav h2 {
        font-size: 27px;
    }

    #home nav .links .burger:focus+ul {
        height: 350px;
        padding: 20px 2px;
    }

    #home nav .links .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 50PX;
        height: 40px;
        border: 1.5px solid #fff;
        border-radius: 5px;
        outline: 2.5px solid var(--main-color);
        outline-color: var(--main-color);
        background-color: transparent;
    }

    #home nav .links .burger span {
        width: 50%;
        display: block;
        background-color: #fff;
        height: 2px;

    }

    #home nav .links ul {
        left: 50%;
        top: 90px;
        position: fixed;
        flex-direction: column;
        background-color: #111111;
        width: 90%;
        text-align: center;
        transform: translateX(-50%);
        justify-content: space-around;
        border-radius: 10px;
        padding: 0px;
        height: 0%;
        overflow: hidden;
        transition-duration: 1s;
    }

    #home nav .links ul li:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 17px;
    }

    #home nav .links ul li::after {
        width: 50px;

    }

    #home .container {
        width: 90%;
    }

    #home .container .item h1 {
        font-size: 35px;
    }

    #home .container .item h2 {
        font-size: 25px;
    }

    #about .container {
        display: block;
        padding: 20px 0px;
        width: 90%;
    }

    #about .container .col {
        width: 100%;
    }

    #about .container .col .words h2 {
        font-size: 30px;
    }

    #about .container .col .image {
        width: 85%;
    }

    .title .back {
        font-size: 35px;
        width: 100%;
    }

    .title .t {
        font-size: 35px;
    }

    #services {
        height: fit-content;
        padding-bottom: 50px;
    }

    #services .container {
        width: 100%;
    }

    #services .container .col {
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
        margin-bottom: 20px;
    }

    #services .container .col.middle {
        flex-direction: column;
    }

    #services .container .col .content {
        width: 90%;
        margin: 20px;
    }

    #services .container .col .content .item h2 {
        font-size: 27px;
    }

    #services .container .col .content .item p {
        line-height: 25px;
    }

    #clients {
        padding-bottom: 25px;
        padding-top: 0px;
    }

    #clients .container {
        display: block;
        width: 75%;
    }

    #clients .container .card {
        flex-basis: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    #trainers {
        padding: 20px 0px 25px 0px;
    }

    #trainers.title {
        padding: 0px 0px 30px 0px;
    }

    #trainers .container {
        width: 85%;
        display: block;
    }

    #trainers .container .card {
        margin: 0px 10px 35px 10px;
    }

    #gallery .container .images {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 300px);
    }

    #gallery .container .images .image:nth-of-type(1) {
        grid-row: span 1;
    }

    #gallery .container .images .image:nth-of-type(4) {
        grid-row: span 1;
    }

    #contact .container {
        width: 70%;
    }

    #contact .container .part1 {
        flex-direction: column;
    }

    #contact .container .part1 .col {
        margin-bottom: 20px;
    }

    #contact .container .part2 form .input {
        flex-basis: 100%;

    }

    #footer {
        padding: 10px 0px;
    }

    #footer .container {
        width: 75%;
        display: block;
    }

    #footer .container>* {
        margin-bottom: 20px;
    }
}

@media (min-width: 371px) and (max-width: 1300px) {
    #home nav h2 {
        font-size: 31px;
    }

    #home .container .item h1 {
        font-size: 40px;
    }

    #home .container .item h2 {
        font-size: 30px;
    }

    #home .container .item button {
        padding: 15px 20px;
    }

    #services .container .col .content {
        width: 65%;
    }

    #trainers .container {
        width: 70%;
    }

}

@media (min-width: 577px) and (max-width: 1300px) {
    #home nav h2 {
        font-size: 40px;
    }

    #home .container .item h1 {
        font-size: 45px;
    }

    #home .container .item h2 {
        font-size: 35px;
    }

    #about .container {
        width: 80%;
    }

    #services .container .col .content {
        width: 45%;
    }

    #clients .container {
        width: 50%;
    }

    #clients .container .card {
        flex-basis: 45%;
    }

    #trainers .container {
        width: 50%;
    }
}

@media (min-width: 769px) and (max-width: 1300px) {
    #home nav h2 {
        font-size: 50px;
    }

    #home nav .links .burger {
        width: 65px;
        height: 48px;
    }

    #home .container .item h1 {
        font-size: 55px;
    }

    #home .container .item h2 {
        font-size: 40px;
    }

    #home .container .item button {
        padding: 20px 25px;
    }

    #about .container {
        display: flex;
    }

    #about .container .col .words h2 {
        font-size: 35px;
    }

    #services {
        min-height: auto;
        padding-bottom: 50px;
    }

    #services .container {
        width: 80%;
    }

    #services .container .col {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        margin-bottom: 20px;
    }

    #services .container .col.middle {
        flex-direction: row;
        justify-content: space-between;
    }

    #services .container .col .content {
        width: 60%;
        margin: 0;
    }

    #services .container .col .imo {
        width: 35%;
        margin: 0;
    }


    #services .container .col .content .item {
        display: block;
    }

    #clients {
        padding-bottom: 10px;
    }

    #clients .container {
        display: flex;
        justify-content: space-between;
        width: 80%;
    }

    #trainers .container {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }

    #trainers .container .card {
        flex: 0 0 45%;
        margin: 0;
        max-width: 400px;
    }

    #gallery .container .images {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 300px);
    }

    #gallery .container .images .image:nth-of-type(1) {
        grid-row: span 2;
    }

    #gallery .container .images .image:nth-of-type(4) {
        grid-row: span 2;
    }

    #contact .container .part1 {
        flex-direction: row;
    }

    #contact .container .part2 form .input {
        flex-basis: calc((100% - 40px) / 3);

    }

    #contact .container .part2 form .input:nth-child(4) {
        flex-basis: 100%;

    }
}



@media (min-width: 992px) and (max-width: 1300px) {
    #about .container {
        width: 90%;
    }

    #about .container .col .words h2 {
        font-size: 40px;
    }

    #about .container .col .image {
        width: 80%;
    }

    .title .back {
        font-size: 40px;
    }

    .title .t {
        font-size: 40px;
    }

    #services .container {
        width: 85%;
    }

    #clients .container {
        width: 75%;
    }

    #clients .container .card {
        flex-basis: 42%;
    }

    #trainers .container {
        width: 50%;
        flex-wrap: nowrap;
        gap: 20px;
    }

    #contact .container {
        width: 80%;
    }

    #footer .container {
        display: flex;
        width: 85%;
    }
}

@media (min-width: 1181px) and (max-width: 1300px) {}